.item {
  font-size: var(--fontM);
  color: var(--text200);
  background-color: var(--bg200);
  width: calc(100% - 2 * 10px - 2 * 2px); //100% - padding and border
  padding: 10px;
  border-radius: calc(var(--borderRadius) / 2);
  border: 2px solid transparent;
  margin: 3px 0px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  line-height: 1.2;
  min-height: 15px;

  .icon {
    display: none;
    padding: 5px 10px;
    margin: -5px;
    cursor: pointer;
    border-radius: calc(var(--borderRadius) / 2);
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: var(--bg300);
    }
  }

  &:hover {
    border: 2px solid var(--text400);

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15px;
    }
  }
}

@media screen and (max-width: 992px) {
  .item {
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15px;
    }
  }
}
