.item {
  font-size: var(--fontM);
  color: var(--text200);
  background-color: var(--bg200);
  width: calc(100% - 2 * 10px - 2 * 2px); //100% - padding and border
  padding: 10px;
  border-radius: calc(var(--borderRadius) / 2);
  border: 2px solid transparent;
  margin: 4px 0px;
  display: flex;
  justify-content: space-between;
  line-height: 1.2;
  min-height: 15px;
  box-shadow: var(--dropShadow);

  .icon {
    display: none;
    padding: 5px 10px;
    margin: -5px;
    cursor: pointer;
    border-radius: calc(var(--borderRadius) / 2);
    transition: all 0.1s ease-in-out;
    align-self: center;

    &:hover {
      background-color: var(--bg300);
    }
  }

  .textWrapper {
    width: calc(100% - 2 * 10px);

    .input {
      color: var(--text200);
      background-color: var(--bg200);
      font-size: var(--fontL);
      cursor: text;
      font-weight: var(--weightNormal);
      width: 100%;
      border: none !important;
      resize: none;
      height: 100%;
      min-height: 50px;
      max-height: 300px;
      outline: none;
    }

    .text {
      overflow-wrap: break-word;
    }
  }

  &:hover {
    border: 2px solid var(--text400);

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15px;
    }
  }
}

@media screen and (max-width: 992px) {
  .item {
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15px;
    }
  }
}
